@using Library.Data
@model IEnumerable<Question>


<div class=" my-row" style="margin-top: 40px;">

    @foreach (Question q in Model)
    {
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">

                <a href="/Home/question?id=@q.Id">
                    <p >@q.Text</p>
                </a>
                <div class="caption">
                    <h4>
                        <a href="/Home/image?id=@q.Id">@q.Title</a>
                    </h4>
                </div>

            </div>
        </div>

    }

</div>